<div>
    <form class="add-container" #addForm="ngForm">
        <div>
            <input name="name" type="text" [(ngModel)]="name" placeholder="Name" #nameField="ngModel" required/>
            <div *ngIf="nameField.invalid && (nameField.dirty || nameField.touched)"
                 class="alert">name is required
            </div>
        </div>
        <div>
            <input name="mail" type="text" [(ngModel)]="mail" placeholder="Mail" #mailField="ngModel" required/>
            <div *ngIf="mailField.invalid && (mailField.dirty || mailField.touched)"
                 class="alert">mail is required
            </div>
        </div>
        <div>
            <input name="phone" type="text" [(ngModel)]="phone" placeholder="Phone" #phoneField="ngModel" required/>
            <div *ngIf="phoneField.invalid && (phoneField.dirty || phoneField.touched)"
                 class="alert">phone is required
            </div>
        </div>
        <div class="button-container">
            <button (click)="onAddContact(addForm)" [disabled]="addForm.form.invalid">Add</button>
        </div>
    </form>
</div>
