.add-container{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    font-size: 1.2rem;
    margin-bottom: 10px;
    height: 1.4rem;
}
input{
    width: 250px;
    height: 100%;
    padding: 0;
    border: none;
    font-size: 1rem;
}
button{
    height: 100%;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    width: 120px;
    height: 1.4rem;
}
